<link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
<footer class="container-fluid py-3" style="position: fixed; bottom: 0; left: 0; right: 0;">
    <div class="row justify-content-center align-items-end">
        <div class="col-2 my-0">
            <div class="d-flex align-items-center">
                <span class="ml-2 logo-title">Universidad del Cauca</span>
            </div>
        </div>
        <div class="col-2 my-0 d-flex justify-content-around">
            <a href="https://www.tiktok.com/@unicauca_" target="_blank">
                <img src="https://cdn.pixabay.com/photo/2021/06/15/12/28/tiktok-6338430_1280.png" alt="Imagen 1" class="img-fluid icon" style="max-width: 30px;">
            </a>
            <a href="https://www.facebook.com/universidadelcauca/?locale=es_LA" target="_blank">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/2048px-Facebook_f_logo_%282019%29.svg.png" alt="Imagen 2" class="img-fluid icon" style="max-width: 30px;">
            </a>
            <a href="https://www.instagram.com/universidadelcauca/?hl=es" target="_blank">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/Instagram-Icon.png/800px-Instagram-Icon.png" alt="Imagen 3" class="img-fluid icon" style="max-width: 30px;">
            </a>
        </div>
    </div>
</footer>