<link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
<div class="login-container">
  <div class="login-box">
    <h2 style="font-family: 'Comfortaa', sans-serif;">Inicio de Sesión</h2>
    <form>
      <div class="form-group">
        <input type="text" id="username" name="username" placeholder="Usuario" style="font-family: 'Comfortaa', sans-serif;">
      </div>
      <div class="form-group">
        <input type="password" id="password" name="password" placeholder="Contraseña" style="font-family: 'Comfortaa', sans-serif;">
      </div>
      <button class="login-button" routerLink="/crear-usuario" style="font-family: 'Comfortaa', sans-serif;">Ingresar</button>
    </form>
  </div>
</div>




