<link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
<header class="header-container" style="font-family: 'Comfortaa', sans-serif;">
    <img src="https://i.ibb.co/pyBJD1B/logofiet.png" alt="Logo de la aplicación" class="logo">
    <h1 class="header-title">Sistema de Gestión de Trabajo de Grado <br> del Programa de Ing. en Sistemas</h1>
</header>
<div class="button-container" *ngIf="mostrarBotones">
    <a  class="button" style="font-family: 'Comfortaa', sans-serif;">Inicio</a>
    <a href="#" class="button" style="font-family: 'Comfortaa', sans-serif;">Salir</a>
</div>